version: '4.20'
services:
  vechiletracking:
    container_name: vechileTracking-container
    image: mysql
    ports:
      - "3307:3307"
    environment:
      - MYSQL_ROOT_PASSWORD=ygz123
      - MYSQL_TCP_PORT=3307
      - VIRTUAL_PORT=3307
    volumes:
      - vechiletracking:/data/db

volumes:
  vechiletracking: